# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

This notebook covered :
- List popular languages for Data Science
- List of commonly used libraries used by Data Scientists
- Data Science Tools
- Examples of evaluating arithmetic expressions in Python
- Converting minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy
4. Seaborn

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

Below are a few examples of evaluating arithmetic expressions in Python


- `+` : addition
- `*` : product
- `/` : division
- `-` : minus

In [3]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
print('200 min is %.2f in hours' %(200/60))

200 min is 3.33 in hours

## Author :
MOHAMED ZIYATI